---
import axios from "axios";
let totalDollarCount = '...';
let totalStrikerCount = '...';
let concurrentStrikerCount = '...';
const baseUrl = import.meta.env.PUBLIC_API_BASE_URL;
axios.defaults.baseURL = baseUrl;
try {
  const stats = (await axios.get('/stats/')).data;
  totalDollarCount = stats.totalDollarCount;
  totalStrikerCount = stats.totalStrikerCount;
  concurrentStrikerCount = stats.concurrentStrikerCount;
} catch (err) {
  console.error(err);
}
---
<div class="stats stats-vertical md:stats-horizontal shadow">
            <div class="stat">
              <div class="stat-figure text-primary">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg> -->
                <p class="text-5xl">🤺</p>
              </div>
              <div class="stat-title">Total Strikers</div>
              <div class="stat-value text-primary">{totalStrikerCount == '...' ? <div class="w-full max-w-xs rounded-lg h-8 skeleton bg-primary/20"/> : totalStrikerCount}</div>
            </div>
             <div class="stat">
              <div class="stat-figure text-primary">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg> -->
                <p class="text-5xl">🚀</p>
              </div>
              <div class="stat-title">Concurrent Strikers</div>
              <div class="stat-value text-primary">{concurrentStrikerCount == '...' ? <div class="w-full max-w-xs rounded-lg h-8 skeleton bg-primary/20"/> : concurrentStrikerCount}</div>
            </div>           
            <div class="stat">
              <div class="stat-figure text-secondary">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg> -->
                <p class="text-5xl">💰</p>
              </div>
              <div class="stat-title">Rent withheld</div>
              <div class="stat-value text-primary">{totalDollarCount == '...' ? <div class="w-full max-w-xs rounded-lg h-8 skeleton bg-primary/20"/> : `\$${totalDollarCount}`}</div>
              <!-- <div class="stat-desc"></div> -->
            </div>
            

          </div>
