---
import Navbar from "./components/navbar.astro"
import Footer from "./components/footer.astro";
import PressRelease from '/Press release 31_08_23.pdf';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Students for Fair Rent</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
  </head>
  <body class="md:flex flex-col justify-center items-center md:h-screen md:w-screen p-10">
    <!-- <Navbar />
    <article>
      <slot />
    </article>
    <Footer /> -->
    <p class="text-2xl font-bold flex flex-col justify-left">
    Hi 👋 University of Auckland Accommodation Rents are too high! Let's lower them together.
    <a class="link" href="https://www.instagram.com/studentsforfairrent/">View our Instagram</a>
    <a class="link" href={PressRelease}>Read our press release</a>
    </p>
  </body>
</html>