---
import Navbar from "./components/navbar.astro"
import Footer from "./components/footer.astro";
---

<html lang="en">
  <head>
    <title>Students for Fair Rent</title>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
  </head>
  <body>
    <Navbar />
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>