---
import axios from "axios";
let concurrentStrikerCount;
let totalDollarCount;
try {
  const res = await axios({
    method: 'get',
    url: '/stats/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  concurrentStrikerCount = res.data.concurrentStrikerCount;
  totalDollarCount = res.data.totalDollarCount;
} catch (err) {
}
---

{ concurrentStrikerCount > 10 && 
<div
  class="w-full md:w-[44rem] rounded-xl flex flex-col gap-4 p-8"
  style="background-image: url('/strike-gradient.png')"
>
  <div class="flex flex-col gap-4 justify-center items-center">
    <p class="text-white text-2xl">{concurrentStrikerCount} Students Are Striking</p>
  </div>
  <div class="flex flex-col justify-center items-center gap-8">
    <p class="text-white text-2xl">We have taken back <strong>${totalDollarCount}</strong> from the university</p>
    <a href="/pledges" class="text-blue-200 underline cursor-pointer">View Pledges</a>
  </div>
</div>
}