---

---
<div class="form w-full max-w-screen-sm flex flex-col gap-4 bg-slate-50 bg-opacity-30 shadow-lg rounded-xl p-4 lg:p-8" 
>
  <p class="text-black"><strong>{Astro.props.fullName}</strong> pledges to withhold rent <strong>{Astro.props.numberWeeks ? `for ${Astro.props.numberWeeks} weeks` : 'until further notice'}</strong></p>
  <p class="text-black">{Astro.props.why?.substring(0, 500)}</p>
</div>