---
import { Image } from "astro:assets";

---

<footer class="footer p-10 bg-slate-50 bg-opacity-10">
  <div>
    <p class="footer-title">Students for Fair Rent</p>
    <p>Established 2023</p>
    <p>Developed by Alex McLeod</p>
  </div> 
  <div>
    <p class="footer-title">Social</p>
    <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="https://www.tiktok.com/@studentsforfairrent">TikTok</a> 
    <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="https://www.instagram.com/studentsforfairrent/">Instagram</a> 
    <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="mailto:contact@sfr.org.nz">Electronic Mail</a> 
  </div> 
</footer>