---
import Layout from '../layout.astro';
import CostCalculator from '../components/calc/Calculator';
---

<Layout>
  <div class="flex flex-col gap-4 px-12 py-12">
    <CostCalculator client:only/>
  </div>
</Layout>../components/calc/calculator../components/calc/Calculator