---
import Layout from "layouts/layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div class="flex w-full h-full flex-col justify-center items-center p-12 gap-4">
    <Image src="/images/mail.svg" width="200" alt="404" height="10"/>
    <p class="font-bold text-3xl justify-center items-center text-center">We just sent an email your way,<br />check your inbox</p>
  </div> 
</Layout>