---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4 py-12">
    <div  class="hero">
      <div class="hero-content flex-col justify-center items-start text-left w-full p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Striking 🤺 Information</h3>
        <p class="text-lg sm:text-2xl">Frequently Asked Questions</p>
        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" checked="checked" /> 
          <div class="collapse-title text-2xl font-medium">
            Why are we striking? 
          </div>
          <div class="collapse-content bg-base-100"> 
            <p class="text-xl">The problem of high rent at the University of Auckland is longstanding. The University is
    aware of this issue, but instead of taking steps to address it, they are increasing the rent at an
    annual rate of 8%.
    Since the inception of the campaign, the University has tried to diminish the severity of the
    problem. Through meetings and correspondence, the University clearly does not see this as a
    problem that students face.
    As students, we hold power, and as student renters, we hold our power through the rent we
    pay to the University. It is pertinent that we act now. By withholding the rent we pay to the
    University, we can prove to them how serious of an issue this is to us and force them to take
    proper action.
    A rent strike is not a new concept. In the United Kingdom, thousands of students from dozens
    of universities engaged in the largest “student renter militancy” in over 40 years 1 . In fact, rent
    strikes go all the way back to the 1940s.
    A rent strike will work, but it will only work when we do it together. Pledge to a rent
    strike now, and let’s make some changes.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            What you need to be aware of 
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">There is inherent risk to a rent strike. Withholding rent goes against the residential agreement
    that you signed and accepted before moving in. However, it is important to note that when we
    strike together, they are highly unlikely to impose punishments on all of us. Remember –
    strength in numbers. Additionally, we have received legal advice on this and have a list of
    resources of places that can help. You can find this list on our website.</p>
          </div>
        </div>
      </div>
    </div> 
   </div>
  </div>
</Layout>


