---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4 py-12">
    <div  class="hero">
      <div class="hero-content flex-col justify-center items-start text-left w-full p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Strike Resources 📖</h3>
      </div>
<div
  class="w-full rounded-xl flex flex-col gap-4 p-8"
  style="background-image: url('/strike-gradient.png')"
>
  <div class="flex flex-col gap-4 justify-center items-center p-2">
    <p class="text-white text-lg">Join our <a href="https://discord.gg/MZvmbCWKGk" target="_blank" class="p-2 rounded-lg cursor-pointer bg-[#7289da] border-none text-white text-lg font-strike">Discord</a></p>
  </div>

</div>
    </div> 
   </div>
  </div>
</Layout>