---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4 py-12">
    <div  class="hero">
      <div class="hero-content flex-col justify-center items-start text-left w-full p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Strike Resources 📖</h3>
        <p class="text-lg sm:text-2xl">Affordable and safe student accommodation is essential for providing equitable access to education. Waipapa Taumata Rau and other universities across Aotearoa, withold education from lower income people while taking everything they can from current students. </p>
      </div>
    </div> 
   </div>
  </div>
</Layout>