---
import Layout from "../layouts/layout.astro";
import TeamAvatar from "../components/team-avatar.astro";

const teamMembers: Record<string, string | undefined>[] = [
  // { src: "/images/matthew-lee.jpg", name:"Matthew Lee", role:"Chair" },
  { src: "/images/jennifer-setefano.jpg", name:"Fesolai Jennifer Setefano", role:"Vice Chair", bio: "Favourite Hall: Grafton"},
  { src: "/images/gauri-singh.jpg", name:"Gauri Singh", role:"Research", bio: "Favourite Hall: Waikohanga" },
  { src: "/images/alex-mcleod.jpg", name:"Alex McLeod", role:"Treasurer", bio: "Favourite Hall: O'Rorke" },
  { src: "/images/kalana-piramanage.jpg", name:"Kalana Piramanage", role:"Social", bio: "Favourite Hall: O'Rorke" },
  { src: "/images/maria-truong.jpg", name:"Maria Truong", role:"Events & Research", bio: "Favourite Hall: Carlaw Park Nichols" },
  { src: "/images/christopher-gerred.jpg", name:"Christopher Gerred", role:"Secretary", bio: "Favourite Hall: Whitaker Block" },
].sort(
  _ => 0.5 - Math.random()
)
---



<Layout>
  <div class="flex flex-col gap-4 py-12">
    <div class="hero">
      <div class="hero-content flex-col justify-center gap-10 w-full">
        <h1 class="text-4xl text-wrap sm:text-5xl font-bold font-display">Our Team</h1>
        <div class="flex flex-row flex-wrap justify-items-center md:grid md:grid-cols-4 gap-8 justify-center items-center">
          <TeamAvatar src="/images/matthew-lee.jpg" name="Matthew Lee" role="Chair" bio="Favourite Hall: Waiparuru"/>
          {
            teamMembers.map((props) => 
            <TeamAvatar {...props}/>)
          }
        </div>
      </div>
    </div>
  </div>
</Layout>