<footer class="footer p-10 bg-slate-50 bg-opacity-10">
  <div>
    <p class="font-bold">Students for Fair Rent</p>
    <p>Established 2023</p>
    <p>Developed by Alex McLeod with Andrew Qiu</p>
  </div> 
  <div>
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="https://www.tiktok.com/@studentsforfairrent"><img class="w-8 h-8" alt="Tiktok" src="/images/tiktok.svg" /></a> 
      <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="https://www.instagram.com/studentsforfairrent/"><img class="w-8 h-8" alt="Instagram" src="/images/instagram.png" /></a> 
      <a target="_blank" class="cursor-pointer flex flex-row justify-center items-center gap-2" href="mailto:contact@sfr.org.nz"><img class="w-11 h-8" alt="Email" src="/images/gmail-logo.png" /></a> 
      <!-- <a class="cursor-pointer" href=""><img class="w-8 h-8" src={TwitterLogoImage} /></a>  -->
    </div>
  </div>

</footer>