---
import InstagramLogoImage from '/instagram.png';
import TwitterLogoImage from '/twitter.png';
---


<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <p class="font-bold">Students for Fair Rent</p>
    <p>Established 2023</p>
    <p>Developed by Alex McLeod</p>
  </div> 
  <div>
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" class="cursor-pointer" href="https://www.instagram.com/studentsforfairrent/"><img class="w-8 h-8" src="/images/instagram.png" /></a> 
      <!-- <a class="cursor-pointer" href=""><img class="w-8 h-8" src={TwitterLogoImage} /></a>  -->
    </div>
  </div>

</footer>