<div class="card lg:w-64  bg-accent shadow-xl">
  <div class="card-body">
    <h2 class="card-title text-2xl text-white">{Astro.props.title}</h2>
    <p>{Astro.props.subtitle}</p>
    <div class="card-actions justify-end mt-auto">
      <button class="btn btn-primary">{Astro.props.buttonText}</button>
    </div>
  </div>
</div>