<div class="avatar flex flex-col justify-center items-center gap-0">
  <div class="w-24 rounded-full">
    <img src={Astro.props.src} />
  </div>
  <h3 class="text-lg font-bold text-center">{Astro.props.name}</h3>
  <p class="text-lg">{Astro.props.role}</p>
  <p class="text-md italic">{Astro.props.bio}</p>
</div>