---
import Layout from "../layouts/layout.astro";
import axios from "axios";
import { getImage } from 'astro:assets';
import strikeGradientImage from '../assets/strike-gradient.png';
const optimisedStrikeGradientImage = await getImage({src: strikeGradientImage});
console.log(optimisedStrikeGradientImage)
console.log(strikeGradientImage);
let pledges;
try {
  const res = await axios({
    method: 'GET',
    url: '/dashboard/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  pledges = res.data; 
} catch (err) {
  console.error(err);
  pledges = []
}
let concurrentStrikerCount;
let totalDollarCount;
try {
  const res = await axios({
    method: 'get',
    url: '/stats/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  concurrentStrikerCount = res.data.concurrentStrikerCount;
  totalDollarCount = res.data.totalDollarCount;
  if (concurrentStrikerCount < import.meta.env.MIN_STRIKER_COUNT) {
    concurrentStrikerCount = undefined;
  }
} catch {}
---

<Layout>
  <div class="px-8 flex flex-col justify-center items-center">
    <div class="w-full max-w-screen-2xl">
{   
<div
  class="w-full max-w-screen-2xl rounded-xl flex flex-col gap-4 p-8"
  style={`background-image: url('${optimisedStrikeGradientImage.src}')`}
>
  <div class="flex flex-col gap-4 justify-center items-center">
    <p class="text-white text-2xl">{concurrentStrikerCount == undefined ? <span>We are</span> : <span>{concurrentStrikerCount} Students</span>} are Striking</p>
  </div>
  {(concurrentStrikerCount == undefined) && <div class="flex flex-col justify-center items-center gap-8">
    <p class="text-white text-2xl">We have taken back <strong>${totalDollarCount}</strong> from the university</p>
  </div>}
</div>
}
  <div class="flex flex-col gap-4 py-12">
        <h3 class="text-3xl font-bold font-display">Striking 🤺 Information</h3>
        <p class="text-2xl">Frequently Asked Questions</p>
        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            What is a rent strike?
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">A rent strike is where renters collectively withhold rent until rent levels and living conditions are fairer. It is a well recognised approach to collective action and has had significant historical wins.<br /><br /> A rent strike is not a new concept. In the United Kingdom, thousands of students from dozens of universities engaged in the largest “student renter militancy” in over 40 years . In fact, rent strikes go all the way back to the 1940s. In Aotearoa, students at Victoria University of Wellington held a rent strike in 2020 when the University asked them to pay a $150 placeholder fee despite not being allowed back on campus due to Covid. That rent strike garnered the support of 1000 students within 24 hours, and was hugely successful.</p>
          </div>
        </div>

        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            Why do we need to rent strike? 
          </div>
          <div class="collapse-content bg-base-100 flex flex-col gap-4"> 
            <p class="text-xl">
             The problem of high rent at the University of Auckland is longstanding. The University is aware of this issue, but instead of taking steps to address it, they are increasing the rent at an annual rate of 8%. <br /><br />Since the inception of the campaign, the University has tried to diminish the severity of the problem. Through meetings and correspondence, the University clearly does not see this as a problem that students face.<br /><br />As students, we hold power, and as student renters, we hold our power through the rent we pay to the University. It is pertinent that we act now. By withholding the rent we pay to the University, we can prove to them how serious of an issue this is to us and force them to take proper action.<br /><br/ >A rent strike is not a new concept. In the United Kingdom, thousands of students from dozens of universities engaged in the largest “student renter militancy” in over 40 years . In fact, rent strikes go all the way back to the 1940s. In Aotearoa, students at Victoria University of Wellington held a rent strike in 2020 when the University asked them to pay a $150 placeholder fee despite not being allowed back on campus due to Covid. That rent strike garnered the support of 1000 students within 24 hours, and was hugely successful.
            </p>
            <p class="text-xl">
              Since the inception of the campaign, the University has tried to diminish the severity of the problem. Through meetings and correspondence, the University clearly does not see this as a
    problem that students face.</p>
            <p class="text-xl">
    As students, we hold power, and as student renters, we hold our power through the rent we
    pay to the University. It is pertinent that we act now. By withholding the rent we pay to the
    University, we can prove to them how serious of an issue this is to us and force them to take
    proper action.
    </p>
    <p class="text-xl">
    A rent strike is not a new concept. In the United Kingdom, thousands of students from dozens
    of universities engaged in the largest “student renter militancy” in over 40 years. In fact, rent
    strikes go all the way back to the 1940s.
    A rent strike will work, but it will only work when we do it together. Pledge to a rent
    strike now, and let’s make some changes.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            Is rent striking safe and legal? 
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">A rent strike, as with any collective action, has its inherent risks. However, it is important to remember that there is strength in numbers. When a large number of students participate in the rent strikes, the University would be forced to take action to lower rent instead of punishing residents. <br /><br />By participating in the rent strikes, you accept the inherent risks that come with it. However, your safety and peace of mind is our number one concern. If the University decides to punish students for participating in rent strikes, there are a number of organisations that are able to help. You can find a list of them here. We also have a lawyer who is assessing the situation and legality as we speak. <br/><br />Please understand that we will not go ahead with the rent strikes if residents and students are at risk of legal action or any form of punishment. Again, students and residents are our number one priority.</p>
          </div>
        </div>
<div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            When do we start and when do we stop? 
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">As of right now, we are only seeking pledges to rent strikes. This means that while you will not be withholding rent at the moment, you will start at the same time as all other participants. We are currently exhausting all other options to pressure the University and the Government into taking action, but if all else fails, the start date of the strike will be announced on Friday 19th April at our Expo for Fair Rent and Town Hall. <br/> <br /> We will strike for however long is necessary to pressure the University into taking action. Every day we strike, we are taking huge amounts of money from them, so we hope the rent strikes will end in positive actions for students in a short amount of time.</p>
          </div>
        </div>
<div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            What should I do with the rent money I’m striking?
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">The simple answer is we don’t know what will happen once we start the rent strikes. The ideal scenario, of course, would be that we achieve a lower rent price and that you wouldn’t have to pay back the rent you owe. However, that may not be the case. We would therefore encourage you to keep the rent money you have withheld from the University throughout the duration of the rent strikes. If you need to use it for necessities like food or other basic needs, then please prioritise your health and wellbeing. We would, however, encourage you not to use the withheld rent money for unnecessary items, in case you have to pay it back at the end of the strikes.</p>
          </div>
        </div>
<div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            How do I rent strike?
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">The primary action you are agreeing to is withholding your rent payments starting a decided start date , which will be announced on Friday the 19th of April at the Expo for Fair Rent until the university takes some action, or as a collective we decide to end this strike. If you pay through auto payments, stop them from the start date of the strike. Alternatively, if you make online payments simply do not pay. <br /><br />During the strike it is also important to spread the word and make as much noise as possible. So please share your thoughts and encourage everyone to join the movement , even if they are not a student. We all need to stand in solidarity to build up pressure on not just the University, but also the government and other decision makers.</p>
          </div>
        </div>
<div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
            Will my information be disclosed to the University?
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">Your information and data will be completely secure with Students for Fair Rent and will not be shared with any third parties. On our pledges page your first name will be visible if you have chosen to share that along with a message on why you are striking. Please feel free to remain anonymous if you are not comfortable with this. If you would like to discuss any concerns please reach out to us via Instagram or email us at contact@sfr.org.nz. </p>
          </div>
        </div>
<div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="my-accordion-2" /> 
          <div class="collapse-title text-2xl font-medium">
          What else should I do to fight for fairer rent?
          </div>
          <div class="collapse-content"> 
            <p class="text-xl">People power drives this movement. Hence, we are asking strikers to follow three action steps: <br/><br /><strong>Withhold</strong> your rent payments.<br /><strong>Demand</strong> for safe, secure, and affordable accommodation.<br /><strong>Share</strong> the message and get your friends to strike with you. <br/><br />You can use the template below to start the conversation. If you have any questions or concerns please reach out to us via Instagram or email us at contact@sfr.org.nz.</p>
          </div>
        </div>
        <div class="flex flex-row justify-end w-full">
          <a href="/strike" class="uppercase bg-[#e1e1e1] p-4  rounded-xl font-strike text-2xl text-[#272627] shadow-xl">Pledge</a>
        </div>
      </div>

        <div class="flex flex-col justify-left items-left w-full gap-4">
          <h3 class="text-3xl font-bold font-display">Striking 🤺 Resources</h3>
<a
            class="rounded-xl flex flex-row justify-left items-center gap-4 py-4 px-8 w-full  bg-base-100/50"
            href="/posts/how-to-strike"
          >
            <p class="text-xl flex flex-row gap-2 items-center"><span transition:name="how-to-strike" transition:persist >How to Rent Strike</span> Guide<img class="w-5 h-5" src="/external-link.png" /></p>
          </a>
          <a
            class="rounded-xl flex flex-row justify-left items-center gap-4 py-4 px-8 w-full  bg-base-100/50"
            href="https://discord.gg/MZvmbCWKGk"
            target="_blank"
          >
            <p class="text-xl flex flex-row gap-2 items-center">Join our Discord <img class="w-5 h-5" src="/external-link.png" /></p>
          </a>
          <a
            class="rounded-xl flex flex-row justify-left items-center gap-4 py-4 px-8 w-full bg-base-100/50"
            href="https://cab.org.nz"
            target="_blank"
          >
            <p class="text-xl flex flex-row gap-2 items-center">Citizens Advice Bureau<img class="w-5 h-5" src="/external-link.png" /></p>
          </a>
          <a
            class="rounded-xl flex flex-row justify-left items-center gap-4 py-4 px-8 w-full bg-base-100/50"
            href="https://youthlaw.co.nz/"
            target="_blank"
          >
            <p class="text-xl flex flex-row gap-2 items-center">YouthLaw<img class="w-5 h-5" src="/external-link.png" /></p>
          </a>
        </div>

     </div>

</div>  </div>
</Layout>


