---
import Layout from 'layouts/layout.astro';
import Pledge from '@atoms/pledge.astro';
import axios from 'axios';
import Stats from '@molecules/strike/stats.astro';
let pledges;
try {
  const res = await axios({
    method: 'GET',
    url: '/dashboard/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  pledges = res.data; 
} catch (err) {
  console.error(err);
  pledges = []
}
let concurrentStrikerCount;
let totalDollarCount;
try {
  const res = await axios({
    method: 'get',
    url: '/stats/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  concurrentStrikerCount = res.data.concurrentStrikerCount;
  totalDollarCount = res.data.totalDollarCount;
if (concurrentStrikerCount < 50) {
    concurrentStrikerCount = undefined;
  } 
} catch {}
---
<Layout>
  <div class="flex justify-center items-center">
  <div class="p-12 max-w-screen-2xl w-full flex flex-col gap-4 ">
    <p class="font-strike text-3xl text-[#272727]">Strike for Fair Rent</p>
{  
<div
  class="w-full  rounded-xl flex flex-col gap-4 p-8"
  style="background-image: url('/strike-gradient.png')"
>
  <div class="flex flex-col gap-4 justify-center items-center">
    <p class="text-white text-2xl">{concurrentStrikerCount == undefined ? <span>We are</span>: <span>{concurrentStrikerCount} Students</span>} are Striking</p>
  </div>
  <div class="flex flex-col justify-center items-center gap-8">
    <p class="text-white text-2xl">We have taken back <strong>${totalDollarCount}</strong> from the university</p>
  </div>
</div>
}
<div
  class="w-full rounded-xl flex flex-col gap-4 p-8"
  style="background-image: url('/strike-gradient.png')"
>
  <div class="flex flex-col gap-4 justify-center items-center p-2">
    <p class="text-white text-lg">View our <a href="/info"  class="cursor-pointer text-blue-100 underline text-lg">strike resources</a></p>
  </div>
  <div class="flex flex-col gap-4 justify-center items-center p-2">
          <a
            class="rounded-xl flex flex-row justify-left items-center gap-4 py-4 px-8 bg-base-100/50"
            href="https://discord.gg/MZvmbCWKGk"
            target="_blank"
          >
            <p class="text-xl flex flex-row gap-2 items-center">Chat with Strikers<img class="w-5 h-5" src="/external-link.png" /></p>
          </a>
  </div>


</div>
    <div class="form w-full flex flex-col gap-4 bg-slate-50 bg-opacity-30 shadow-lg rounded-xl p-4 lg:p-8">
      <h2 class="text-2xl text-black font-strike">Pledges:</h2>
      <div class="flex flex-col w-full items-center gap-4 justify-center p-4">
        {pledges != undefined ? pledges.map((element: any) => (
          <Pledge {...element} />
        )) : <div class="w-full h-40 skeleton bg-primary/20"/>}
        {pledges.length == 0 && <div class="text-white w-full h-40 flex justify-center items-center">No pledges to show...</div>}
      </div>
    </div>
  </div>
</div>
</Layout>