---
import Stats from "@molecules/strike/stats.astro";
import Layout from "../layouts/layout.astro";
import StrikeForm from "@molecules/strike/StrikeForm";
---

<Layout>
  <div class="flex flex-col justify-center items-center w-full p-4 md:p-12 gap-4">
    <Stats />
    <StrikeForm url={Astro.url.origin}client:only />
  </div>
</Layout>
