---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4 py-12">
    <div  class="hero">
      <div class="hero-content flex-col justify-center items-start text-left w-full p-8">
        <h3 class="text-md sm:text-3xl font-bold font-display">Vision</h3>
        <p class="text-md sm:text-xl">In a perfect world, education would be valued for what it is. It would be properly funded, and students would be given the dignity they deserve. Society would view education as an investment in our future, and students would not have to work to fund their studies and living. However, this ideal world does not exist for students in Aotearoa.</p>
        <p class="text-md sm:text-xl">The purpose and mission of Students for Fair Rent is set out in our slogan: Fighting for safe, secure, and affordable accommodation for students. To break this down further, Students for Fair Rent advocates for a safe student accommodation environment that is accessible to all. While the issue of high rent is at the forefront of the campaign, we are also concerned about the mental well-being of students and what student accommodation providers (the University) are doing to protect it. </p>
        <p class="text-md sm:text-xl">A strategy we’ve taken from day one is to be data-based and people-focused. This means that we are armed with both our facts and statistics, as well as the real experiences of the people we want to help - students. That is why one of the first things we did was do a survey, which over a hundred students responded to. The responses keep us grounded; they remind us of why this campaign is essential, and we continuously use it in our fight for safe, secure, and affordable accommodation for students. </p>
        <h3 class="text-md sm:text-3xl font-bold font-display">Purpose</h3>
        <p class="text-md sm:text-xl">
          As in our consitution, the purpose of Students for Fair Rent is:
          <ul>
            <li class="list-disc text-md sm:text-xl">relieving poverty by advocating for fair access to university accommodation</li>
            <li class="list-disc text-md sm:text-xl">advancing education by ensuring accommodation is not a barrier to receiving an education</li>
            <li class="list-disc text-md sm:text-xl">benefiting the community by advocating, rallying, discussing, and bargaining around the topic of fair rent for students at university.</li>
          </ul>
        </p>
        <p class="text-md sm:text-xl">As mentioned previously, while our central focus remains on fair rent prices at student accommodation, we also advocate for an accommodation service that focuses on student well-being, safety, and care. This can encompass many aspects such as eviction and refund policies, resident mental health, the nature of pastoral care provided to students, safety and security, as well as issues related to residential advisors, as they are also students living in halls.</p>
        <p class="text-md sm:text-xl">As an organisation, we strongly oppose any University that has unfair and disproportionate rent increases. We urge any university doing so to stop exploiting their students by decreasing their rent. Universities are tertiary education institutions, not businesses, and their students are not consumers or customers. They must prioritise student wellbeing over profit, and where rent is unfair or disproportionate, we demand that it is lowered to ease the cost of living pressures on students.</p>
        <p class="text-md sm:text-xl">In every step we take, we aspire to be evidence-driven and people-focused. We conduct diligent surveys and research before proposing and standing behind our demands. At the University of Auckland, we demanded two things from the University through our petition and rally. First was a blanket reduction of rent at all student accommodation. Of course, we knew this wasn’t possible, but it was still important for us to demand it. Second was an adherence to three measures of fairness to measure all future rent increases against. Those three measures were the rate of inflation, the average rent in Auckland Central, and the level of student income support from the government. Beyond that, we questioned what Campus Care and accommodation managers were doing to promote mental well-being with disappointing answers.</p>
        <p class="text-md sm:text-xl">As we progress, we aim to bring about greater systematic change, ensuring rent across universities in Aotearoa is proportional to their income/ allowances. This would occur through either significant rent reductions or increases in student allowance from the government that reflect the demanding costs of being a student in today's economic environment. To ensure student accommodation is regulated, we also want to reform the Residential Tenancies Act.</p>
      </div>
    </div> 
   </div>
  </div>
</Layout>


