---
import Pledge from "@atoms/pledge.astro";
import axios from "axios";
const pledges = (await axios.get('http://localhost:3000/api/dashboard')).data;
---

<div>
  {pledges.map((element: any) => (
    <Pledge {...element} />
  ))}
</div>